body {
    background-color: #a8dadc;
    color: rgb(255, 196, 255);

}
h1 {
    color: black;
    background-color: #e9c46a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    text-align: center;
    border: 3px solid purple;
}
p {
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 10px;
    margin: 30px;
    text-align: center;
}
h2{
    color: #ee9b00 ;
    background-color: #e9d8a6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    border: 2.5px solid black;

}
table{
    color: black;
}

.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column{
    flex: 1;
    padding: 10px;
}

@media (max-width: 600px){
    .colum{
        flex: 100%
    }
}

form{
    color: black;
}
button{
    background-color: #335c57;
    color:white;
    border: 2px solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.container-nav{
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #000814;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.brand{
    display: flex;
    align-items: center;
}
li>a{
    padding: 8px 24px;
}
li{
    list-style-type: none;
}
a{
    color: black;;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-links{
    display: flex;
    align-items: center;
}
.button-menu-toggle{
    display: none;
}
@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
    .nav-links {
      display: none;
    }
    .button-menu-toggle {
      color:#000814;
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
    }
  }
  header{
    background-color: #333;
    color:black;
    text-align: center;
    padding: 20px;
    align-items: center;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    color: #e9d558;
    text-decoration: none;
    padding: 5px;
}
nav a:hover{
    color:#92c7a3";
}
@media (max-width: 767px){
    header{
        background-color: #333;
    }
}
@media (max-width: 767px){
    nav{
        font-size: 16px;
    }
}
@media (min-width: 1200px){
    header{
        width: 1200px;
    }
}
.container-I{
      display: flex;
      justify-content: center;
}
.container-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe, video{
    max-width: 90%;
}
ul{
    color: brown;
}
#myForm{
    display: flex;
    flex-direction: column;
    width: 400px;
   border:3px solid red;
}
.greeting{
    text-align:center;
}